<header class="title-bar">
  <a
    (click)="goBack();"
    class="back-btn"
  >
    <svg class="back-icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#ffffff" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"></path><path fill="#ffffff" d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"></path></g></svg>
  </a>
  <span class="title">{{ shortcutOpen ? "Shortcut settings" : "Actions" }}</span>
</header>
<div class="actions" *ngIf="!shortcutOpen; else shortcut">
  <button
    *ngFor="let s of shortcuts; index as i"
    (click)="openShortcut(i)"
    class="btn action-btn"
  >
    {{s.action.name | actionName}}
  </button>
</div>
<ng-template #shortcut>
  <div class="shortcut">
    <div class="sequence">
      <span *ngFor="let k of getList()" class="key">
        {{k | keyName}}
      </span>
      <hr />
    </div>
    <div class="head">
      <span class="description">{{currentShortcut?.action?.description}}</span>
    </div>
    <div class="options">
      <button class="btn option-btn">
        <svg class="btn-icon" viewBox="-3 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>play</title><defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-419.000000, -571.000000)" fill="#8bfd8b"> <path d="M440.415,583.554 L421.418,571.311 C420.291,570.704 419,570.767 419,572.946 L419,597.054 C419,599.046 420.385,599.36 421.418,598.689 L440.415,586.446 C441.197,585.647 441.197,584.353 440.415,583.554" id="play" sketch:type="MSShapeGroup"> </path> </g> </g> </g></svg>
        Run
      </button>
      <button class="btn option-btn">
        <svg class="btn-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="10" fill="#fd6363"></circle> </g></svg>
        Update
      </button>
    </div>
  </div>
</ng-template>
