:host {
  height: 100%;
}

.actions {
  height: 16rem;
  overflow-y: auto;
}

.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: var(--primary);
}

.title {
  font-size: 1.10rem;
  margin: auto auto auto 0.5rem;
}

.back-btn {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  &:hover {
    cursor: pointer;
    background: var(--primary-lighter);
  }
}

.back-icon {
  width: 100%;
  height: 100%;
  fill: white;
}

.action-btn {
  width: 100%;
  text-align: left;
  &:hover {
    cursor: pointer;
    background: var(--primary-lighter);
  }
}

.shortcut {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  width: 100%;
  font-size: 1rem;
}

hr {
  width: 90%;
  border-color: var(--primary);
}

.sequence {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.key {
  color: var(--active);
  font-size: 1rem;
  border: solid var(--primary-lighter);
  border-radius: 4px;
  box-shadow: 1px 1px 1px black;
  padding: 0.25rem;
}