<header class="title-bar">
  <a
    (click)="goBack();"
    class="back-btn"
  >
    <svg class="back-icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#ffffff" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"></path><path fill="#ffffff" d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"></path></g></svg>
  </a>
  <span class="title">{{ shortcutOpen ? "Shortcut settings" : "Actions" }}</span>
</header>
<div class="actions" *ngIf="!shortcutOpen; else shortcut">
  <button
    *ngFor="let s of shortcuts; index as i"
    (click)="openShortcut(i)"
    class="btn action-btn"
  >
    {{s.action.name | actionName}}
  </button>
</div>
<ng-template #shortcut>
  <app-action-shortcut
    [shortcuts]="shortcuts"
    [currentShortcut]="currentShortcut"
  ></app-action-shortcut>
</ng-template>
