:host {
  height: inherit;
}

.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: var(--primary);
  height: 15%;
  box-shadow: 0 2px 5px #0000004d;
}

.title {
  font-size: 1.10rem;
  margin: auto auto auto 0.5rem;
}

.back-btn {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  &:hover {
    cursor: pointer;
    background: var(--primary-lighter);
  }
}

.back-icon {
  width: 100%;
  height: 100%;
  fill: white;
}

.actions {
  height: 85%;
  overflow-y: auto;
}

.action-btn {
  width: 100%;
  text-align: left;
  &:hover {
    cursor: pointer;
    background: var(--primary-lighter);
  }
}

.shortcut {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 0.5rem;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.desc-text {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
}

hr {
  width: 90%;
  border-color: var(--primary);
}

.sequence-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.sequence {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.key {
  color: var(--active);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  border: solid var(--primary-lighter);
  border-radius: 4px;
  box-shadow: 1px 1px 1px black;
  padding: 0.25rem;
}

.prompt {
  font-size: 1rem;
  padding: 0.4rem;
  color: var(--primary-lighter);
}
