:host {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
}

.power-icon {
  width: 10rem;
  height: 10rem;
  margin: auto;
}

.power-icon:hover {
  cursor: pointer;
  background: var(--primary-lighter);
  border-radius: 50%;
}
