.bg {
  width: 16rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

app-landing {
  height: 100%;
}

.main-content {
  width: 100%;
  height: 100%;;
}

footer {
  width: 100%;
  padding: 0.25rem;
  background: var(--primary);
}