.bg {
  width: 16rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--accent);
}

.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: var(--primary);
}

.title {
  font-size: 1.10rem;
  font-weight: bold;
  margin: auto auto auto 0.5rem;
}

.menu-icon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  fill: white;
}

.menu-icon:hover {
  cursor: pointer;
  background: var(--primary-lighter);
}

hr {
  width: 100%;
  color: black;
  margin: 0;
}

.main-content {
  width: 100%;
  height: 100%;
}

.icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

.power-icon {
  width: 10rem;
  height: 10rem;
  margin: auto;
}

.power-icon:hover {
  cursor: pointer;
  background: var(--primary-lighter);
  border-radius: 50%;
}

footer {
  width: 100%;
  padding: 0.25rem;
  background: var(--primary);
}