:root {
  --primary: #323543;
  --primary-lighter: #525563;
  --accent: #1b1b23;
  --accent-lighter: #3b3b43;
  --active: #73cfea;
  --active-lighter: #83d9f5;
  --warn: red;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
