:root {
  --primary: #323543;
  --primary-lighter: #525563;
  --accent: #1b1b23;
  --accent-lighter: #3b3b43;
  --active: #73cfea;
  --active-lighter: #83d9f5;
  --warn: #fd6363;
  --confirm: #8bfd8b;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: var(--accent);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

.btn {
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 4px;
  background: none;
  &:hover {
    cursor: pointer;
    animation: fillIn 0.25s forwards;
  }
}

.options {
  width: 100%;
  height: 3rem;
}

.btn-icon {
  width: 0.8rem;
  height: 0.8rem;
}

.option-btn {
  width: 50%;
  height: 100%;
}


@keyframes fillIn {
  from {
    box-shadow: inset 1px 0 0 0 var(--primary-lighter);
  }
  to {
    box-shadow: inset 200px 0 0 0 var(--primary-lighter);
  }
}
